.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(/public/background.jfif);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.signup_form_container {
	width: 70%;
	height: 80%;
	display: flex;
	border-radius: 2%;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #3b51b1;
	border-top-left-radius: 2%;
	border-bottom-left-radius: 2%;
}

.left h1 {
	margin-top: 0;
	color: white;
	font-size: 2.734375vw;
	align-self: center;
}

.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 2%;
	border-bottom-right-radius: 2%;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 3.125vw;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 120%;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 0.5% 0;
	font-size: 1.09375vw;
}

.error_msg {
	width: 90%;
	padding: 15px;
	margin: 0.5% 0;
	font-size: 1.09375vw;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 14.0625vw;
	font-weight: bold;
	font-size: 1.09375vw;
	cursor: pointer;
}

.green_btn {
	background-color: #3b51b1;
	color: white;
	margin: 1.09375vw;
	width: 42.85%;
}

@media only screen and (max-width: 400px) {
	.signup_container .signup_form_container {
		flex-direction: column-reverse;
	}
	.right {
		flex: 3;
		border-top-left-radius: 2%;
		border-bottom-right-radius: 0%;
	}
	.left {
		border-top-left-radius: 0%;
		border-bottom-right-radius: 2%;
	}
}
